{
  "presets": ["babel-preset-react-app"],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "Containers": "./src/containers",
        "Components": "./src/components",
        "Constants": "./src/constants",
        "Providers": "./src/providers",
      }
    }]
  ]
}
